.home-container{
    color:  #E5E5E5;

}

.home-content{
    padding-left: 120px;
    padding-top: 117px;
    padding-bottom: 0px;
}


.home-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    align-items: center;
    letter-spacing: 0.02em;   
    color: #062847;
}


.home-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;
    width: 612px;
    height: 216px;
}
