.home-content{
    padding-left: 120px;
}


.home-title{
    margin-top: 117px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    align-items: center;
    letter-spacing: 0.02em;   
    color: #062847;
}


.home-text{
    margin-top: 26px;
    margin-bottom: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;
    width: 612px;
    height: 216px;
}

p {
    display: block;
    margin-top: 0.8em;
    margin-bottom: 0em;
    margin-left: 0;
    margin-right: 0;
  }
